<div class="container">

    <h3 class="d-flex justify-content-center">Beadandó feladat </h3>
 

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
 
        <li class="nav-item">
            <button routerLink="tagok"
            class="m-1 btn btn btn-primary" Button>Tagok</button>
        </li>

        <li class="nav-item">
            <button routerLink="media"
            class="m-1 btn btn btn-primary" Button>Tételek</button>
        </li>

        <li class="nav-item">
            <button routerLink="kolcsonzes"
            class="m-1 btn btn btn-primary" Button>Kölcsönzés</button>
        </li>

    </ul>
    </nav>
<router-outlet></router-outlet>
 
<h6 class="d-flex justify-content-center">~ Beadandó feladat | Gyenes Ádám | EFV4KJ | Ózd | Mérnökinformatikus-levelező ~ </h6>